/**
 * Local Build 
 */


/*outline the grid to fill the screen*/
.grid {

	background-color: #000;
	width: 100vw;
	margin: 0;
	padding: 0;


	/*each grid item*/
	.grid-item {

		width: 33vw;
		margin: 0;
		padding: 0;
		position: relative;

		&:hover figcaption {
			opacity: 1;
		}

		img {
			width: 100%;
			margin: 0;
			border: 0.5rem solid #000;
			-o-object-fit: cover;
			   object-fit: cover;
			-webkit-box-sizing: border-box;
			        box-sizing: border-box;
		}

		figcaption {
			position: absolute;
			bottom: 1rem;
			left: 1rem;
			right: 1rem;
			background-color: rgba(0,0,0,0.5);
			padding: 0.5rem;
			color: #fff;
			text-align: center;
			font-size: 0.8rem;
			font-family: sans-serif;
			opacity: 0;
			-webkit-transition: opacity 1s ease-out;
			-o-transition: opacity 1s ease-out;
			transition: opacity 1s ease-out;

		}

	}

}